@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--Light-grey);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--White);
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* justify-content: center;

    align-items: center; */
    border-radius: 20px;
    border-bottom-right-radius: 200px;
}

header {
    display: flex;
    gap: 30px;
    padding: 30px;
    width: 800px;
}

input {
    padding: 20px;
    width: 130px;
    border-radius: 5px;
    border: 1px solid var(--Light-grey);

}

.head-p {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--Smokey-grey);
    font-size: 14px;
    margin-bottom: 5px;
}

hr {
    border: 0.02px solid var(--Light-grey);
    width: 80%;
    margin-left: 80px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: space-evenly; */
    justify-content: center;
    width: 800px;
    height: 400px;
    line-height: 5.5rem;

}

.result p {
    font-size: 75px;
    font-weight: 800;
    font-style: italic;
}

.result span {
    color: var(--Purple);
    margin-left: 40px;
}

.buton-div {
    position: relative;
}

button {
    background-color: var(--Purple);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* left: 500px; */
    right: 30px;
    top: -20px;
    cursor: pointer;
}

img {
    width: 30px;
}

.empty-error {
    font-size: 12px;
    margin-top: 5px;
    color: var(--Light-red);
    font-style: italic;
    /* display: none; */
}